.holidayCard {
    background: white;
    color: var(--default-font-color);
    font: var(--default-font);
    overflow: hidden;
    text-align: left;
}

.holidayCardHeaderContainer {
    display: grid;
    grid-template-columns: minmax(70%, auto) 1fr; /* 2 columns, responsive */
}

.holidayCardDetail h4 {
    color: var(--dark-blue);
    margin: 0;
}

.holidayCardDetailExpanderButton {
    border: 1px solid transparent;
    padding: 0.9em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;

    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    color: var(--default-font-color);
    display: flex;
    align-items: center;
}

/* Ensure grid adapts for smaller screens */
@media (max-width: 1024px) {
    .holidayCardHeaderContainer {
      grid-template-columns: 1fr; /* 1 column on smaller screens */
    }
}

.holidayCardHeader {
    padding: 1em;
}


.holidayCardHeader p {
    margin: 0;
}

.holidayCardHeader h3 {
    margin: 0;
    color: var(--dark-blue);
}

.holidayCardHeader p {
    margin: 0;
    color: var(--dark-grey);
    font-size: 0.9em;
}

.holidayCardHeaderContainer > div {
    display: flex;
    flex-direction: column;
}

.holidayCardHeaderImage {
    position: relative;
}

.holidayCardHeaderImage > img {
    width: 100%;
    height: 100%; /* Please forgive my sins - not exactly fully responsive */
    object-fit: cover; /* This somewhat helps however */
}

.holidayCardDetailExpanderContent {
    padding: 1em;
}

.holidayCardButton {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;

    background: var(--yellow);
    color: var(--dark-blue);
    margin: 0.5em 0;
    border-radius: 0.2em;
    font-weight: bold;
    text-decoration: inherit;
}

.holidayCardButtonLargeText {
    font-size: 1.7em;
}