.holidayCard {
    background: white;
    color: var(--default-font-color);
    font: var(--default-font);
    overflow: hidden;
}

.holidayCardHeaderContainer {
    display: grid;
    grid-template-columns: minmax(70%, auto) 1fr; /* 2 columns, responsive */
}

.holidayCardDetailExpanderButton {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    color: var(--default-font-color);
    display: flex;
    align-items: center;
}

/* Ensure grid adapts for smaller screens */
@media (max-width: 1024px) {
    .holidayCardHeaderContainer {
      grid-template-columns: 1fr; /* 1 column on smaller screens */
    }
}

.holidayCardHeader {
    padding: 1em;
}


.holidayCardHeader p {
    margin: 0;
}

.holidayCardHeader h3 {
    margin: 0;
}

.holidayCardHeaderContainer > div {
    display: flex;
    flex-direction: column;
}

.holidayCardHeaderImage {
    position: relative;
}

.holidayCardHeaderImage > img {
    width: 100%;
}

.holidayCardDetailExpanderContent {
    padding: 1em;
}