
.holidayListContainer {
    display: grid;
    padding: 3em;
    grid-template-columns: minmax(320px, auto) 1fr; /* 2 columns, responsive */
    gap: 3em; /* Space between cards */
    box-sizing: border-box;
}

.holidayListContainerSort {
  display: flex;
  width: 100%;
}

.holidayListContainerList {
  display: flex;
}


/* Ensure grid adapts for smaller screens */
@media (max-width: 1024px) {
    .holidayListContainer {
      padding: 0;
      grid-template-columns: 1fr; /* 1 column on smaller screens */
    }

    .holidayListContainerSort {
      position: sticky;
      z-index: 999;
      top: 0;
    }
}