
.holidayListContainer {
    display: grid;
    padding: 3em;
    grid-template-columns: minmax(320px, auto) 1fr; /* 2 columns, responsive */
    gap: 3em; /* Space between cards */
    box-sizing: border-box;
}


/* Ensure grid adapts for smaller screens */
@media (max-width: 768px) {
    .holidayListContainer {
      padding: 1em;
      grid-template-columns: 1fr; /* 1 column on smaller screens */
    }
}

.holidayListContainerSort {
  display: flex;
  width: 100%;
}

.holidayListContainerList {
  display: flex;
}