.holidaySortPanel {
    display: flex;
    background: white;
    flex-direction: column;
    overflow: hidden;
    color: var(--default-font-color);
    font: var(--default-font);
    width: 100%;
    position: sticky;
    left: 0;
    top: 1em;
    align-self: start;
}

.holidaySortPanelContent {
    display: grid;
    grid-template-columns: 1fr; /* 2 columns, responsive */
}

.holidaySortPanelButton {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;

    background: white;
    color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
} 

.holidaySortPanelButton.selected {
    color: white;
    background: var(--dark-blue);
}

.holidaySortPanelButton .icon {

}

.holidaySortPanelButtonInnerTextSmall {
    display: none;
}

/* Ensure grid adapts for smaller screens */
@media (max-width: 1024px) {
    .holidaySortPanelButtonInnerTextSmall {
        display: inline;
    }
    .holidaySortPanelButtonInnerTextLarge {
        display: none;
    }

    .holidaySortPanelButtonInnerText span {
        display: none;    
    }

    .holidaySortPanelButtonInnerText {
        font-size: 75%;
        align-content: start;
        align-items: start;
        display: flex;
    }

    .holidaySortPanelContent {
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* 2 columns, responsive */
    }
}