.holidaySortPanel {
    display: flex;
    background: white;
    flex-direction: column;
    overflow: hidden;
    color: var(--default-font-color);
    font: var(--default-font);
    width: 100%;
    position: sticky;
    left: 0;
    top: 1em;
    align-self: start;
}

.holidaySortPanelContent {
    display: grid;
    grid-template-columns: 1fr; /* 2 columns, responsive */
}

.holidaySortPanelButton {
    background: white;
    color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
} 

.holidaySortPanelButton.selected {
    color: white;
    background: var(--dark-blue);
}

/* Ensure grid adapts for smaller screens */
@media (max-width: 1024px) {
    .holidaySortPanelContent {
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* 2 columns, responsive */
    }
    .holidaySortPanelButtonInnerText {
        display: none;
    }
}